<!doctype html>

<head>
	<% include head.ejs %>
</head>

<body>

	<h2><%= store_name %></h2>

	<form class="form-horizontal" action="/users/upload_receiver" enctype="multipart/form-data" method="post" name="upload_form">
		<div class="form-group" class="col-sm-2 control-label">
			<label for="product_name" class="col-sm-2 control-label">Product Name:</label>
			<div class="col-sm-10">   
				<input type="text" name="product_name" class="form-control">
			<div>
		</div>
		<div class="form-group" class="col-sm-2 control-label">
			<label for="product_name" class="col-sm-2 control-label">Price:</label>
			<input name="price" class="form-control">
		</div>
		<div class="form-group" class="col-sm-2 control-label">
			<label for="product_name" class="col-sm-2 control-label">Description:</label>
				<textarea name="product_description" class="form-control"></textarea>
		</div>
		<div class="form-group" class="col-sm-2 control-label">
			<label for="product_name" class="col-sm-2 control-label">Image:</label>
			<input type="file" name="product_image" >
		</div>
		<div class="form-group" class="col-sm-2 control-label">
			<input class="btn btn-info" type="submit" value="upload" name="push_button">
		</div>
	</form>

	<a href="/users/layout">back to Store Dashboard</a>

</body>
</html>