#market-image {
	height: 300px;
	width: 100%;
	background-color: #444;
	background-image: url('../images/store_banner_image.jpg');
	background-position: 0px 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin-bottom: 50px;
}

#market-image h2{
	margin-top:0px;
}

#navbar{
	height:70px;
	width:100%;
	background-color:black;
	/*position:fixed;*/
}

#market_search_form{
	float:right;
	margin-top:-30px;
}

#user_type{
	display:table;
	position:absolute;
	height: 25%;
	width:100%;
}

#user_type1{
	/*float:right;*/
	padding-right: 5px;
	width:125px;
}

#user_type2{
	/*float:right;*/
	padding-left: 5px;
	width:125px;
	vertical-align: middle;
}

#product_div{
	overflow: :hidden;
}

#shop_div{
	overflow:hidden;
}

#middle{
	display:table-cell;
	vertical-align: middle;	
}

.location{
	top: -50%;
}